@model F.Web.Models.DbApplyRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbApplyRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizenship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingLeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingLeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeStartCareer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeStartCareer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountTraums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountTraums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTraums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTraums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraumаNow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraumаNow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeakSides1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeakSides1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeakSides2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeakSides2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeakSides3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeakSides3)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



